---
## crontab
- name: "cron | add crontab"
  cron:
    name: kopia "{{ item.name }}"
    minute: "{{ item.cron.minute }}"
    hour: "{{ item.cron.hour }}"
    day: "{{ item.cron.day }}"
    month: "{{ item.cron.month }}"
    weekday: "{{ item.cron.weekday }}"
    user: "{{ item.cron.user }}"
    job: "/usr/bin/kopia --log-dir={{ kopia_log_dir }} snapshot create {{ item.path }}{% if item.parallel is defined %} --parallel={{ item.parallel }}{% endif %} 2> /dev/null"
    cron_file: kopia
  loop: "{{ kopia_cron_directory }}"
  when: kopia_cron_enable == true
  tags:
    - kopia
    - kopia_cron
