---
- name: "Install | Create keyrings directory"
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  tags:
    - kopia
    - kopia_install
    - kopia_create

- name: "Install | Download Kopia GPG key"
  get_url:
    url: https://kopia.io/signing-key
    dest: /etc/apt/keyrings/kopia-keyring.gpg
    mode: '0644'
  tags:
    - kopia
    - kopia_install
    - kopia_create

- name: "Install | Adds apt source"
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kopia-keyring.gpg] http://packages.kopia.io/apt/ stable main"
    filename: kopia
  tags:
    - kopia
    - kopia_install
    - kopia_create

- name: "Install | update APT Cache"
  apt:
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - kopia
    - kopia_install
    - kopia_create

- name: "Install | Install kopia & fuse"
  apt:
    pkg:
      - fuse
      - kopia
    state: present
  tags:
    - kopia
    - kopia_install
    - kopia_create

- name: "Install | Install kopia-ui"
  apt:
    pkg:
      - kopia-ui
    state: present
  when: kopia_ui_install == true
  tags:
    - kopia
    - kopia_install
    - kopia_create
