[Unit]
Description=Kopia UI Server
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/kopia server start --address {{ kopia_ui_address }} {% if kopia_ui_disable_csrf_token_checks is defined %} --disable-csrf-token-checks {% endif %} --no-enable-actions --readonly {% if kopia_ui_insecure is defined %} --insecure {% endif %}--log-dir {{ kopia_ui_log_dir }}{% if kopia_ui_username is defined and kopia_ui_password is defined %} --server-username {{ kopia_ui_username }} --server-password {{ kopia_ui_password }} {% else %} --without-password {% endif %}

ExecStop=/usr/bin/kopia server shutdownn
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
