[Unit]
Description=Kopia UI Server
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ kopia_ui_systemd_user }}
Group={{ kopia_ui_systemd_group }}
ExecStart=/usr/bin/kopia server start{% if kopia_ui_config_file is define %} --config-file={{ kopia_ui_config_file }}{% endif %} --address {{ kopia_ui_address }}{% if kopia_ui_disable_csrf_token_checks == true %} --disable-csrf-token-checks {% endif %} --no-enable-actions --readonly{% if kopia_ui_insecure == true %} --insecure {% endif %}--log-dir {{ kopia_ui_log_dir }}{% if kopia_ui_username is defined and kopia_ui_password is defined %} --server-username {{ kopia_ui_username }} --server-password {{ kopia_ui_password }} {% else %} --without-password {% endif %}

ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
