[Unit]
Description=Kopia UI Server
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/kopia server kopia server start --address {{ kopia_ui_address }} --disable-csrf-token-checks --no-enable-actions --readonly --without-password --insecure --log-dir {{ kopia_ui_log_dir }} --server-username {{ kopia_ui_username }} --server-password {{ kopia_ui_password }}
ExecStop=/usr/bin/kopia server shutdownn
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
